body {
  background-color: lightyellow;
  padding: 30px;
 }

box-shadow: 10px 5px 5px red;

p.groove {border-style: groove;}

h1{
	color: Green;
   font-family: 'Indie Flower', cursive;
}

h1 {
  text-decoration: underline;
}

p.solid {border-style: solid;}

h2{
	color: orange;
	font-family: 'Shadows Into Light', cursive;
}
h1:hover {
color: orange;
}

h1:active {
color: green;
}

a:hover {
color: orange;
}

p{
	color: lightblue;
	font-family: 'Courgette', cursive;
}
p:hover {
	color: orange;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 30px;
box-shadow: 5px 3px black;
}
table{
	background: lightblue;
}
td{
	background: white;
}
td:hover {
	color: lightblue
}
p {
  text-align: center;
}

ul {
	list-style-type: circle;
}

