h1 {
   color: white;
   font-family: 'Indie Flower', cursive;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
}

p {
	font-family: 'Indie Flower', cursive;
}
body {
  background-color: lightblue;
}