h1, h2, h3, p, a, li {
	color: lightblue;
   font-family: 'Nanum Brush Script', cursive;
}

h1 {
font-family: 'Nanum Brush Script', cursive;

}

.app {
	width: 70%;
	max-width:800px;
	margin: auto;
}

li, p.clickable {
	cursor: pointer;
}

li .not-selected {
   
}

li .selected {
	text-decoration: underline;
    color: pink;
}

li .correct {
    color: darkgreen;
}

li .incorrect {
	color: darkred;
	font-family: 'Nanum Brush Script', cursive;
}