h1, h2, h3, p, a, li {
    font-family: sans-serif;
}

h1 {
font-family: 'Indie Flower', cursive;

}

li, p.clickable {
	cursor: pointer;
}

li .not-selected {
   
}

li .selected {
	text-decoration: underline;
    color: pink;
}

li .correct {
    color: darkgreen;
}

li .incorrect {
	color: darkred;
}